html{
	background-color: #191919;
}

body{
	background-color: : #191919;
}

h1, h2, h3, h4{
	font-family: 'Montserrat', sans-serif;
	color: #D1D1D1;
}

p, label{
	font-family: 'Oxygen', sans-serif;
	color: #D1D1D1;
}

a{
	font-family: 'Montserrat', sans-serif;
	color: #00E9FF;
	text-decoration: none;
}

.body-content{
	padding-top: 20px;
	width: 100%;
	background-color: #191919;
}

.centred-content{
	max-width: 900px;
	margin: 0 auto;
	padding-bottom: 30px;
}

.horizontal-list{
	list-style-type:  none;
	padding: 0;
}

.horizontal-list>li{
	display: inline-block;
	padding-right: 10px;
}

.title h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 3.5em;
	padding-bottom: 0px;
	margin: 0 auto;
}

.title h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	padding-top: 5px;
	margin: 0 auto;
}

nav{
	height: 100%;
}

.nav-list{
	padding: 0;
	margin: auto;
}

.nav-list>li{
	display: inline-block;
	width: 100px;
}

.nav-list a{
	font-size: 1.5em;
	display: block;
	text-align: center;
}

.content{
	padding-top: 50px
}

.content>img{
	height: 350px;
	float: left;
}

.content h1{
	margin-top: 0;
}

.home-content{
	padding-left: 370px;
}

.form-list{
  list-style-type: none;
  padding: 0;
}

.form-list li{
  display: inline-block;
}

input {
    width: 65%;
    padding:4px;
    border-radius:2px;
    border:1px solid #fff;
    background-color: #292929;
	color: #D1D1D1;
}

textarea{
 resize: vertical;
  padding:4px;
  border-radius:2px;
  border:1px solid #fff;
  background-color: #292929;
  width: 64%;
  color: #D1D1D1;
}
