html{
	background-color: #191919;
}

body{
	background-color: : #191919;
}

h1, h2, h3, h4{
	font-family: 'Montserrat', sans-serif;
	color: #D1D1D1;
}

p{
	font-family: 'Oxygen', sans-serif;
	color: #D1D1D1;
}

a{
	font-family: 'Montserrat', sans-serif;
	color: #00E9FF;
	text-decoration: none;
}

.body-content{
	padding-top: 20px;
	width: 100%;
	background-color: #191919;
}

.centred-content{
	max-width: 900px;
	margin: 0 auto;
	padding-bottom: 30px;
}

.horizontal-list{
	list-style-type:  none;
	padding: 0;
}

.horizontal-list>li{
	display: inline-block;
}

.padded-right{
	padding-right: 10px;
}

.title h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 3.5em;
	padding-bottom: 0px;
	margin: 0 auto;
}

.title h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	padding-top: 5px;
	margin: 0 auto;
}

nav{
	height: 100%;
}

.nav-list{
	padding: 0;
	margin: auto;
}

.nav-list>li{
	display: inline-block;
	width: 100px;
}

.nav-list a{
	font-size: 1.5em;
	display: block;
	text-align: center;
}

.content{
	padding-top: 50px;
}

.content h1{
	margin-top: 0;
}

.project-images{
  float:left;
}

.project-images ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.project-subline{
  margin-top: 0;
}

.centred-text{
  text-align: center;
}

.portfolio-content{
	padding: 0;
	margin-left: 25%;
}

.portfolio-list{
	clear: left;
	padding-top: 30px;
	margin: 0 0;
}

.project-clickthrough img{
	width: 100%;
}

.project-clickthrough p{
	font-size: 1.2em;
	text-align: center;
	margin-bottom: 0;
}

.one-third{
	width: 30%;
	padding-right: 3%;
}
