html{
	background-color: #191919;
}

body{
	background-color: : #191919;
}

h1, h2, h3, h4{
	font-family: 'Montserrat', sans-serif;
	color: #D1D1D1;
}

p{
	font-family: 'Oxygen', sans-serif;
	color: #D1D1D1;
}

a{
	font-family: 'Montserrat', sans-serif;
	color: #00E9FF;
	text-decoration: none;
}

.body-content{
	padding-top: 20px;
	width: 100%;
	background-color: #191919;
}

.centred-content{
	max-width: 900px;
	margin: 0 auto;
	padding-bottom: 30px;
}

.horizontal-list{
	list-style-type:  none;
	padding: 0;
}

.horizontal-list>li{
	display: inline-block;
	padding-right: 10px;
}

.title h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 3.5em;
	padding-bottom: 0px;
	margin: 0 auto;
}

.title h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	padding-top: 5px;
	margin: 0 auto;
}

nav{
	height: 100%;
}

.nav-list{
	padding: 0;
	margin: auto;
}

.nav-list>li{
	display: inline-block;
	width: 100px;
}

.nav-list a{
	font-size: 1.5em;
	display: block;
	text-align: center;
}

.content{
	padding-top: 50px;
}

.content>img{
	height: 350px;
	float: left;
}

.content h1{
	margin-top: 0;
}

.home-content{
	padding-left: 370px;
}

.project-images{
  float:left;
}

.project-images ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.project-subline{
  margin-top: 0;
}

.centred-text{
  text-align: center;
}

.portfolio-content-main{
	padding: 0;
	margin-left: 370px;
}

.portfolio-content{
	padding: 0;
	margin-left: 220px;
}

.portfolio-list{
	clear: left;
	padding-top: 30px;
	margin: 0 0;
}

.project-clickthrough img{
	width: 100%;
}

.project-clickthrough p{
	font-size: 1.2em;
	text-align: center;
	margin-bottom: 0;
}

.one-third{
	width: 30%;
	padding-right: 3%;
}

.blog-block{
  padding-left: 30px;
	float:right;
}

.blog-list{
  list-style: none;
  padding-left: 0;
}

.blog-list h2{
  margin-bottom: 10px;
}

.blog-list h3{
  margin-top: 0;
}

table{
  width: 70%;
}

.table-heading{
  width: 100%;
  font-family: 'Oxygen', sans-serif;
  color: #D1D1D1;
  text-align: center;
}

th{
  width: 30%;
}

td{
  padding-top: 10px;
  text-align: center;
}

.foot{
  clear: both;
}

.home-content{
	padding-left: 370px;
}

.form-list{
  list-style-type: none;
  padding: 0;
}

.form-list li{
  display: inline-block;
}

input {
    width: 65%;
    padding:4px;
    border-radius:2px;
    border:1px solid #fff;
    background-color: #292929;
	color: #D1D1D1;
}

textarea{
 resize: vertical;
  padding:4px;
  border-radius:2px;
  border:1px solid #fff;
  background-color: #292929;
  width: 64%;
  color: #D1D1D1;
}

@media only screen and (max-width: 700px){
	.horizontal-list>li{
		width: 100%;
		padding-top: 10px;
		margin: 0 auto;
	}

	.nav-list>li{
		width: 100%;
		margin: 0 auto;
	}

	.content>img{
		margin: 0 auto;
		height: 350px;
		float: left;
	}

	.home-content{
		clear: left;
		width: 100%;
		padding: 0;
		padding-top: 10px;
	}
}
